<div class="container">
  <h1>Login (POST method to a server)</h1>
  <form #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"[(ngModel)]="model.password" name="password" autocomplete="off">
    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Login</button>
  </form>
  <div *ngIf="isSubmitted">
    <h3>You're logged in as a {{ receivedModel.username }}</h3>
  </div>

</div>
